adf_components/pipeline/ParentMetadataPipeline.json
{
	"name": "ParentMetadataPipeline",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"description": "List all parquet files in container / folder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ListAllParquetFilesDS",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "ParquetReadSettings"
					}
				}
			},
			{
				"name": "Filter1",
				"description": "Select filename that contains Product & ProductCategory from the list of parquet files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@or(contains(item().name, 'Product'), contains(item().name, 'ProductCategory'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"description": "The output of filter activity which is Product & ProductCategory will each be inserted into table of their own in this for each loop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter1').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ChildMetadataPipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"filename": {
										"value": "@item().name",
										"type": "Expression"
									},
									"tablename": {
										"value": "@replace(item().name, '.snappy.parquet', '')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "ADF-Demo-Pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2024-05-27T19:07:42Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}